html, body {
  height: 100%;
}

.app-layout {
  $gnb_height: 60px;
  $footer_height: 50px;
  $default_line_height: 170%;
  $default-background-color: #ecf0f1;
  background-color:$default-background-color;

  .gnb {
    position:fixed;
    top:0;
    width:100%;
    height:$gnb_height;
    z-index:10;
    overflow:hidden;
    background-color: rgba(255, 255, 255, 1);
    box-shadow:0 1px 1px rgba(100, 100, 100, 0.3);

    .right.menu {
      height:$gnb_height;
      line-height:$gnb_height;
      .notification, .user-info, .logout {
        color:#666;
        padding:8px;
        border:1px solid #CCC;
        border-radius:3px;
        margin-right:10px;
        &:hover {
          color:#000;
        }
      }
      .user-info {
        padding:15px;
        img {
          width:30px;
          height:30px;
          margin-right:8px;
        }
      }
    }
  }

  .user-popup-menu {
    position:fixed;
    top:($gnb_height - 5px);
    right:10px;
    background-color:#fff;
    box-shadow:0 1px 2px rgba(30, 30, 30, 0.5);
    border-radius:5px;
    z-index:20;
    padding:10px;
    a {
      text-align:center;
      display:block;
      float:left;
      color:#333;
      i {
        color:#333;
        margin:10px;
        font-size:20px;
      }
    }
    .settings {
      margin-right:15px;
    }
  }
  .contents-wrapper {
    min-height: 100%;
    margin-bottom:-$footer_height;
    line-height:$default_line_height;
  }

  .contents {
    padding:($gnb_height + 10px) 15px $footer_height;
    margin-left:200px;
  }

  .sidemenu {
    position:fixed;
    top:$gnb_height;
    left:0;
    width:200px;
    min-height:100%;
    color:#EFEFEF;
    padding:20px 10px 10px;
    box-sizing: border-box;
    background-color:#2a3542;
  }

  .sidemenu.ui.vertical.menu {
    width:200px;
  }

  .footer {
    font-size:0.9em;
    margin-left:200px;

    .copyright {
      height:$footer_height;
      line-height:$footer_height;
      text-align: center;    
    }
  }
  /* --------------------------
   * Responsive Styles
   * --------------------------
  */

  @media (max-width: 768px) {
    .gnb {
      position:relative;
    }
    .user-popup-menu {
      position:absolute;
    }
    .sidemenu {
      position:relative;
      color:#EFEFEF;
      padding:10px;
      box-sizing: border-box;
      background-color:#2a3542;
      width:100%;
      top:0;
    }
    .contents {
      margin-left:0;
      padding:0 0 $footer_height;
    }
    .content {
      padding:10px;
    }
    .footer {
      margin-left:0;
    }
  }

  .fc-header {
    background-color:transparent;
    border:0;
  }

  .timeline-top-menu {
    margin-bottom:10px;
  }

  .top-money-info {
    .title {
      font-size:1.2em;
      color:#888;
      padding:15px 5px 0;
    }
    .number {
      text-align:center;
      padding:20px 0;
      font-size:1.5em;
      color:#333;
    }

    .columns {
      background-color:#FFF;
      border:1px solid #bdc3c7;
    }
  }

  .bookkeeping {
    list-style:none;
  }
}




/*
.app-layout {
  color:#333;
  background-color:#353D40;

  .main-content {
    margin-left:200px;
    background-color:#F4F4F4;
    padding:50px 10px;
    min-height:640px;
  }
}

.main.menu {
  top: 0px;
  min-width: 320px;
  z-index: 900;
  box-sizing: border-box;
  transition: margin 0.3s ease;
}

.copyright {
  text-align:center;
  padding:15px;
  .ui.label {
    font-size:10px;
  }
}

.launch.item {
  width:200px;
}

.sidemenu {
  position:absolute;
  top:0;
  left:0;
  width:200px;
  color:#EFEFEF;
  padding:52px 10px 10px;
  box-sizing: border-box;
}

.sidemenu.ui.vertical.menu {
  width:200px;
}

.top-money-info .number {
  text-align:center;
  padding-top:20px;
  font-size:1.5rem;
}

.ui.menu .item.top-user-info {
  position:relative;
  padding-left:35px;

  .user-avatar {
    position:absolute;
    top:5px;
    left:5px;
    width:25px;
    height:25px;
  }
}
*/
