.app-layout {
  color:#333;
  background-color:#353D40;

  .main-content {
    margin-left:200px;
    background-color:#F4F4F4;
    padding:50px 10px;
    min-height:640px;
  }
}

.main.menu {
  top: 0px;
  min-width: 320px;
  z-index: 900;
  box-sizing: border-box;
  transition: margin 0.3s ease;
}

.copyright {
  text-align:center;
  padding:15px;
  .ui.label {
    font-size:10px;
  }
}

.launch.item {
  width:200px;
}

.sidemenu {
  position:absolute;
  top:0;
  left:0;
  width:200px;
  color:#EFEFEF;
  padding:52px 10px 10px;
  box-sizing: border-box;
}

.sidemenu.ui.vertical.menu {
  width:200px;
}

.top-money-info .number {
  text-align:center;
  padding-top:20px;
  font-size:1.5rem;
}
