.default-layout {
  background-color:#333;
  color:#F0F0F0;
}

.wrapper {
  position:relative;
  width:780px;
  margin:0 auto;
}

.main-title {
  padding-top:50px;
}

.top-btn {
  position:absolute;
  top:0;
  right:0;
  display:block;
  padding:80px 30px 10px 30px;
  width:50px;
  text-align:center;
  background-color:#EFEFEF;
}

.login-wrapper {
  padding-top:60px;
  width:480px;
  margin:0 auto;
}

.login-wrapper .button {
  margin-bottom:20px;
}