html, body {
  height: 100%;
}

.default-layout {
  $footer_height: 50px;
  $default_line_height: 170%;

  background-color:#bdc3c7;

  .contents-wrapper {
    min-height: 100%;
    margin-bottom:-$footer_height;
    line-height:$default_line_height;
  }

  .contents {
    padding:0 0 ($footer_height + 100px);
  }

  .footer {
    font-size:0.9em;

    .copyright {
      height:$footer_height;
      line-height:$footer_height;
      text-align: center;    
    }
  }

  .logo-wrapper {
    height:300px;
    background-color:#2c3e50;
    text-align:center;
    .logo {
      width:100px;
      height:100px;
      margin-top:100px;
    }
  }

  .form-wrapper {
    padding:20px;
    margin:-80px auto 0;
    background-color:#fff;
    border-radius:5px;
    box-shadow:0 2px 2px rgba(30, 30, 30, 0.4);
    min-height:200px;
  }
}
