.timeline-top-menu {
  padding-bottom: 10px; }

ul.bookkeepings {
  margin-bottom: 1em; }

li.bookkeeping {
  margin-bottom: 2em; }
  li.bookkeeping td {
    padding: .8em !important; }
  li.bookkeeping .content {
    border: 1px solid #eaeaea;
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em; }
  li.bookkeeping.ng-enter {
    animation: fadeInDown 1s; }
  li.bookkeeping.ng-leave {
    animation: fadeOutRight 1s; }

.red {
  color: red; }

.blue {
  color: blue; }

.green {
  color: green; }

ul.proofs {
  padding-left: 0;
  padding: 3px;
  border: 1px solid #d0d0d0;
  display: table;
  background: white;
  margin-bottom: .5em; }
  ul.proofs li.proof {
    list-style: none;
    border: 5px solid white;
    border-spacing: 2px;
    background-color: white;
    display: table-cell;
    position: relative; }
    ul.proofs li.proof img {
      vertical-align: middle; }

.gridStyle {
  border: 1px solid #d4d4d4;
  width: 99%;
  height: 300px; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.ngCellText {
  line-height: 25px !important; }

.ngHeaderText {
  line-height: 25px !important; }
