<h3>거래내역 입력</h3>

<form class="timeline-form ui small form segment">
  <div class="ui grid">
    <div class="row">
      <div class="ten wide column">
        <div class="field">
          <label>적요</label>
          <input ng-model="add_form.remark" placeholder="적요란" type="text">
        </div>
      </div>
      <div class="six wide column">
        <label>거래자</label>
        <select ng-model="add_form.issuer_id">
          <option value="">Select</option>
          <option ng-repeat="member in group_members" value="{{member.id}}">{{member.email}}</option>
        </select>
        
      </div>
    </div>

    <div class="row">
      <div class="five wide column">
        <div class="date field">
          <label>거래일자</label>
          <input ng-model="add_form.issue_date" ui-date="{ dateFormat: 'yy-mm-dd' }" placeholder="거래일자" type="text">
          <!-- https://github.com/angular-ui/ui-date -->
          <!-- https://github.com/angular-ui/angular-ui-OLDREPO/issues/47 -->
        </div>
        
      </div>
      <div class="five wide column">
        <div class="field">
          <label>계정항목</label>
          <select ng-model="add_form.account_title_id" id="bookkeepping-new-category">
            <option value="">Select</option>
            <optgroup ng-repeat="account_category in account_titles" label="{{account_category.category}}">
              <option ng-repeat="account_title in account_category.titles" value="{{account_title.id}}">{{account_title.title}}</option>  
            </optgroup>
          </select>

          <!-- <div class="ui selection dropdown"> -->
          <!--   <input type="hidden" name="gender"> -->
          <!--   <div class="default text">Gender</div> -->
          <!--   <i class="dropdown icon"></i> -->
          <!--   <div class="menu"> -->
          <!--     <div class="item" data-value="male">Male</div> -->
          <!--     <div class="item" data-value="female">Female</div> -->
          <!--   </div> -->
          <!-- </div> -->

          <!-- <script> -->
          <!--   $(function() { -->
          <!--   $('#bookkeeping-new-category').dropdown(); -->
          <!--   $('.ui.selection.dropdown').dropdown(); -->
          <!--   }); -->
          <!-- </script> -->
        </div>

      </div>

      <div class="six wide column">
        <div class="field">
          <label>거래금액</label>
          <input ng-model="add_form.amount" placeholder="거래금액" type="text">
        </div>
      </div>
    </div>
  </div>
</form>
