<form class="ui form segment">
  <div class='four fields'>
    <div class='date field' style="margin-bottom:0;">
      <input ng-model="term.start_date" ui-date="{ dateFormat: 'yy-mm-dd' }" placeholder="시작일자" type="text">
    </div>
    <div class='date field' style="margin-bottom:0;">
      <input ng-model="term.end_date" ui-date="{ dateFormat: 'yy-mm-dd' }" placeholder="종료일자" type="text">
    </div>
    <div class="ui buttons">
      <div class="ui blue large submit button" ng-click="termSubmit()">검색</div>
      <div class="ui blue large submit button" ng-click="updateDataDuration('week')">이번주</div>
      <div class="ui blue large submit button" ng-click="updateDataDuration('month')">이번달</div>
      <div class="ui blue large submit button" ng-click="updateDataDuration('year')">올해</div>
      <!-- <div class="ui positive large submit button" ng-click="monthlyBalance()">월말정산</div> -->
    </div>
  </div>
</form>

<div ng-include="'/views/app/group/_stats.html'"></div>

<br/>
<h3>거래내역</h3>
<div class="gridStyle" ng-grid="gridOptions" style="height:500px"></div>


