<!-- <form class="ui form segment ng-hide"> -->
<!--   <div class='four fields'> -->
<!--     <div class='date field' style="margin-bottom:0;"> -->
<!--       <input ng-model="term.start_date" ui-date="{ dateFormat: 'yy-mm-dd' }" placeholder="시작일자" type="text"> -->
<!--     </div> -->
<!--     <div class='date field' style="margin-bottom:0;"> -->
<!--       <input ng-model="term.end_date" ui-date="{ dateFormat: 'yy-mm-dd' }" placeholder="종료일자" type="text"> -->
<!--     </div> -->
<!--     <div class="ui buttons"> -->
<!--       <div class="ui blue submit button" ng-click="termSubmit()">기간별</div> -->
<!--       <div class="ui blue submit button" ng-click="thisMonth()">이번달</div> -->
<!--       <div class="ui blue submit button" ng-click="thisYear()">올해</div> -->
<!--       <div class="ui positive submit button" ng-click="monthlyBalance()">월말정산</div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </form> -->

<div ng-include="'/views/app/group/_stats.html'"></div>

<div ng-include="'/views/app/group/_new.html'"></div>

<div ng-include="'/views/app/group/_bookkeepings.html'"></div>

<div ng-include="'/views/app/group/_edit.html'"></div>
