<form class="ui form segment ng-hide">
  <div class='four fields'>
    <div class='date field' style="margin-bottom:0;">
      <input ng-model="term.start_date" ui-date="{ dateFormat: 'yy-mm-dd' }" placeholder="시작일자" type="text">
    </div>
    <div class='date field' style="margin-bottom:0;">
      <input ng-model="term.end_date" ui-date="{ dateFormat: 'yy-mm-dd' }" placeholder="종료일자" type="text">
    </div>
    <div class="ui buttons">
      <div class="ui blue submit button" ng-click="termSubmit()">기간별</div>
      <div class="ui blue submit button" ng-click="thisMonth()">이번달</div>
      <div class="ui blue submit button" ng-click="thisYear()">올해</div>
      <div class="ui positive submit button" ng-click="monthlyBalance()">월말정산</div>
    </div>
  </div>
</form>

<div class="top-money-info ui connected items">
  <div class="three ui row">
    <div class="item">
      <div class="content">
        <div class="name">
          <i class="cloud download icon"></i>
          수입
        </div>
        <div class="number">
          <i class="korean won icon"></i> {{stats.income | number}}
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="name">
          <i class="cloud upload icon"></i>
          지출
        </div>
        <div class="number">
          <i class="korean won icon"></i> {{stats.outlay | number}}
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="name">
          <i class="money icon"></i>
          잔액
        </div>
        <div class="number {{ stats.total > 0 ? 'blue' : 'red'}}">
          <i class="korean won icon"></i> {{stats.total | number}}
        </div>
      </div>
    </div>
  </div>
</div>

<h3>거래내역 입력</h3>
<form class="timeline-form ui small form segment">
  <!-- <div class='field'> -->
  <!--   <textarea ng-model='add_form.content' placeholder="Your message"></textarea> -->
  <!-- </div> -->
  <div class="three fields">
    <div class="date field">
      <label>거래일자</label>
      <input ng-model="add_form.issue_date" ui-date="{ dateFormat: 'yy-mm-dd' }" placeholder="거래일자" type="text">
      <!-- https://github.com/angular-ui/ui-date -->
      <!-- https://github.com/angular-ui/angular-ui-OLDREPO/issues/47 -->
    </div>
    <div class="field">
      <label>계정항목</label>
      <select ng-model="add_form.account_title_id">
          <option value="">Select</option>
          <optgroup ng-repeat="account_category in account_titles" label="{{account_category.category}}">
            <option ng-repeat="account_title in account_category.titles" value="{{account_title.id}}">{{account_title.title}}</option>  
          </optgroup>
      </select>
    </div>
    <div class="field">
      <label>수입/지출</label>
      <select ng-model="add_form.operator">
          <option value="">Select</option>
          <option value="+">수입</option>
          <option value="-">지출</option>
      </select>
    </div>
  </div>
  <div class="three fields">
    <div class="field">
      <label>적요</label>
      <input ng-model="add_form.remark" placeholder="적요란" type="text">
    </div>
    <div class="field">
      <label>거래금액</label>
      <input ng-model="add_form.amount" placeholder="거래금액" type="text">
    </div>
    <div class="field">
      <label>거래자</label>
      <select ng-model="add_form.issuer_id">
          <option value="">Select</option>
          <option ng-repeat="member in group_members" value="{{member.id}}">{{member.email}}</option>
      </select>
    </div>
  </div>
  <div class="ui blue submit button" ng-click="formSubmit()">입력하기 <div ng-show="busy" class="ui mini active inline loader"></div></div>
  <div class="ui submit button" ng-click="formCancel()">초기화</div>
</form>

<ul class='bookkeepings'>
  <li class='bookkeeping' ng-repeat="bookkeeping in bookkeepings">
    <div class="row">
      <div class="small-3 large-2 columns ">
        <img ng-src="{{bookkeeping.writer.avatar_url.medium}}">
        <div class="writer">{{bookkeeping.writer.username}}</div>
      </div>
      <div class="small-9 large-10 columns">
        <p>
          {{bookkeeping.content}}
          <small>{{bookkeeping.created_at | timeago}}에 작성</small>
        </p>
        <span class="label">거래내역</span>
        <table class="item">
          <thead>
            <tr>
              <th>날짜</th>
              <th>적요</th>
              <th>거래금액</th>
              <th>거래자</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class='two wide'>{{bookkeeping.issue_date}}</td>
              <td class='five wide'><span class='green'>[{{bookkeeping.account_title.title}}]</span>
                {{bookkeeping.remark}}
              </td>
              <td class='two wide'>
                <div class='number {{ bookkeeping.operator == "-" ? "red" : "blue"}}' style='text-align:right;'>
                  {{bookkeeping.operator}} <i class="korean won icon"></i> {{bookkeeping.amount | number}}
                </div>
              </td>
              <td class='two wide'>{{bookkeeping.issuer.username}}</td>
            </tr>
          </tbody>
        </table>
        <div ng-include="'/views/app/group/timeline/proof.html'"></div>
        <ul class="inline-list">
          <li>
            <a ng-click="removeBookkeeping($index)" ng-show="canUpdate({{ bookkeeping.writer }})">
              삭제
            </a>
          </li>
          <li>
            <a ng-click="showEditBookkeeping(bookkeeping)" ng-show="canUpdate({{ bookkeeping.writer }})">
              수정
            </a>
          </li>
          <li>
            <a ng-click="likeBookkeeping(bookkeeping)" ng-show="bookkeeping.liker_ids.indexOf(currentUser.id) < 0">
              좋아요
            </a>
            <a ng-click="dislikeBookkeeping(bookkeeping)" ng-show="bookkeeping.liker_ids.indexOf(currentUser.id) >= 0">
              좋아요취소
            </a>
          </li>
          <li>
            <span ng-show="bookkeeping.likes_count > 0">{{ bookkeeping.likes_count }} 명이 좋아합니다.</span>
          </li>
        </ul>

        <div ng-include="'/views/app/group/timeline/comment.html'"></div>
      </div>
    </div>
  </li>
</ul>


<!-- modal for edit bookkeeping -->
<div class="ui edit bookkeeping modal">
  <i class="close icon"></i>
  <div class="header">
    Bookkeeping 수정
  </div>
  <div class="content">
    <form class="timeline-form ui small form segment">
      <!-- <div class='field'> -->
      <!--   <textarea ng-model='edit_form.content' placeholder="Your message"></textarea> -->
      <!-- </div> -->
      <div class="three fields">
        <div class="date field">
          <label>거래일자</label>
          <input ng-model="edit_form.issue_date" ui-date="{ dateFormat: 'yy-mm-dd' }" placeholder="거래일자" type="text">
          <!-- https://github.com/angular-ui/ui-date -->
          <!-- https://github.com/angular-ui/angular-ui-OLDREPO/issues/47 -->
        </div>
        <div class="field">
          <label>계정항목</label>
          <select ng-model="edit_form.account_title_id">
            <option value="" ng-selected="edit_form.account_title_id == ''">Select</option>
            <optgroup ng-repeat="account_category in account_titles" label="{{account_category.category}}">
              <option ng-repeat="account_title in account_category.titles" value="{{account_title.id}}"
                      ng-selected="edit_form.account_title.id == account_title.id">{{account_title.title}}</option>
            </optgroup>
          </select>
        </div>
        <div class="field">
          <label>수입/지출</label>
          <select ng-model="edit_form.operator">
            <option value="" ng-selected="edit_form.operator == ''">Select</option>
            <option value="+" ng-selected="edit_form.operator == '+'">수입</option>
            <option value="-" ng-selected="edit_form.operator == '-'">지출</option>
          </select>
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label>적요</label>
          <input ng-model="edit_form.remark" placeholder="적요란" type="text">
        </div>
        <div class="field">
          <label>거래금액</label>
          <input ng-model="edit_form.amount" placeholder="거래금액" type="text">
        </div>
        <div class="field">
          <label>거래자</label>
          <select ng-model="edit_form.issuer_id">
            <option value="" ng-selected="edit_form.issuer_id == ''">Select</option>
            <option ng-repeat="member in group_members" value="{{member.id}}"
                    ng-selected="edit_form.issuer.id == member.id">{{member.username}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui black cancel button">
      Cancel
    </div>
    <div class="ui green right labeled icon button" ng-click="editBookkeeping()">
      Edit
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
