<!-- <form class="ui form segment ng-hide"> -->
<!--   <div class='four fields'> -->
<!--     <div class='date field' style="margin-bottom:0;"> -->
<!--       <input ng-model="term.start_date" ui-date="{ dateFormat: 'yy-mm-dd' }" placeholder="시작일자" type="text"> -->
<!--     </div> -->
<!--     <div class='date field' style="margin-bottom:0;"> -->
<!--       <input ng-model="term.end_date" ui-date="{ dateFormat: 'yy-mm-dd' }" placeholder="종료일자" type="text"> -->
<!--     </div> -->
<!--     <div class="ui buttons"> -->
<!--       <div class="ui blue submit button" ng-click="termSubmit()">기간별</div> -->
<!--       <div class="ui blue submit button" ng-click="thisMonth()">이번달</div> -->
<!--       <div class="ui blue submit button" ng-click="thisYear()">올해</div> -->
<!--       <div class="ui positive submit button" ng-click="monthlyBalance()">월말정산</div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </form> -->

<div class="top-money-info row">
  <div class="large-4 columns income">
    <div class="title"><i class="fa fa-cloud-download"></i> 수입</div>
    <div class="number">
      <i class="korean won icon"></i> {{stats.income | number}}
    </div>
  </div>
  <div class="large-4 columns outlay">
    <div class="title"><i class="fa fa-cloud-upload"></i> 지출</div>
    <div class="number">
      <i class="korean won icon"></i> {{stats.outlay | number}}
    </div>
  </div>
  <div class="large-4 columns total">
    <div class="title"><i class="fa fa-money"></i> 잔액</div>
    <div class="number">
      <i class="korean won icon"></i> {{stats.total | number}}
    </div>
  </div>
</div>

<div ng-include="'/views/app/group/_new.html'"></div>

<div ng-include="'/views/app/group/_bookkeepings.html'"></div>
<div class="fluid ui button" ng-show="bookkeepings.next" ng-click="more(bookkeepings.next)">더보기 <div ng-show="busy" class="ui mini active inline loader"></div></div>
<div ng-include="'/views/app/group/_edit.html'"></div>
<div class="ui active dimmer" ng-show="busy" ng-init="busy=true">
  <div class="ui loader"></div>
</div>