<div class="ngx-ui-lightbox">
  <ul class="proofs small-block-grid-3 large-block-grid-5">
    <li class="proof" ng-repeat="proof in bookkeeping.proofs" >
      <a class='fancybox' ng-href='{{ proof.picture_url.medium }}'
         ngx-lightbox="gallery_{{ bookkeeping.id }}"><img ng-src="{{ proof.picture_url.thumb }}"></a>
      <br/>
      <a ng-click="removeProof($index, bookkeeping)" ng-show="canUpdate({{ proof.user.id }})"
         style="position:absolute; top:0; right:0;">
        <i class="trash icon"></i>
      </a>
    </li>
    <li>
      <a class="ui button" picture-upload> + 인증샷 </a>
    </li>
  </ul>
</div>