<legend>인증샷 >></legend>
<div ng-show="bookkeeping.proofs.length > 0" class="ngx-ui-lightbox">
  <p>사진보기 ({{ bookkeeping.proofs.length }})</p>
  <ul class="proofs">
    <li class="proof" ng-repeat="proof in bookkeeping.proofs" >
      <a class='fancybox' ng-href='{{ proof.picture_url.medium }}'
         ngx-lightbox="gallery_{{ bookkeeping.id }}"><img ng-src="{{ proof.picture_url.thumb }}"></a>
      <br/>
      <a ng-click="removeProof($index, bookkeeping)" ng-show="canUpdate({{ proof.user.id }})"
         style="position:absolute; top:0; right:0;">
        <i class="trash icon"></i>
      </a>
    </li>
  </ul>
</div>
<div class="fields">
  <div>
    <a class="ui button" picture-upload>업로드</a>
  </div>
</div>