$body-font-family: "Apple SD Gothic Neo", "Nanum Gothic", "나눔고딕", "Malgun Gothic", "맑은고딕", "Dotum", "돋움", "Gulim", "굴림", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-family: "Apple SD Gothic Neo", "Nanum Gothic", "나눔고딕", "Malgun Gothic", "맑은고딕", "Dotum", "돋움", "Gulim", "굴림", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$base-font-size: 13px;
$em-base: $base-font-size;
$primary-color: #009FDA;
$row-width: 980px;

@import "foundation";
