<!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="wrapper">
  <a class="top-btn" ui-sref="default.join" ng-show="!$state.is('default.join')">
    Join
  </a>
  <a class="top-btn" ui-sref="default.welcome" ng-show="$state.is('default.join')">
    Login
  </a>

  <div class="main-title">
    <h1 class="ui header">
      BudgetBook <div class="ui red label">beta</div>
    </h1>
  </div>

  <div class="container" ui-view></div>
</div>
