<div class="main-content">
  <div class="timeline-top-menu">
    <div class="ui mini black buttons">
      <a class="ui button" ng-class="{active:$state.is('app.group.timeline')}" ui-sref=".timeline({group_id:$state.params.group_id})">TIMELINE</a>
      <a class="ui button" ng-class="{active:$state.is('app.group.item')}" ui-sref=".item({group_id:$state.params.group_id})">ITEMS</a>
      <a class="ui button" ng-class="{active:$state.is('app.group.report')}" ui-sref=".report({group_id:$state.params.group_id})">REPORT</a>
      <a class="ui button" ng-class="{active:$state.is('app.group.calendar')}" ui-sref=".calendar({group_id:$state.params.group_id})">CALENDAR</a>
    </div>

    <div class="ui right floated icon mini black buttons">
      <a class="ui button" ng-class="{active:$state.is('app.group.member')}" ui-sref=".member({group_id:$state.params.group_id})">
        <i class="users icon"></i>
      </a>
      <a class="ui button ng-hide" ng-class="{active:$state.is('app.group.setting')}" ui-sref=".setting({group_id:$state.params.group_id})">
        <i class="setting icon"></i>
      </a>
    </div>
  </div>

  <div class="timeline-detail">
    <h1 class="ui dividing header">
      {{ group.name }}
      <a class="ui small button" ng-click="showEditGroup(group)">EDIT</a>
      <div class="sub header">{{ group.description }}</div>
    </h1>
    <!-- new group modal -->
    <div class="ui edit group modal">
      <i class="close icon"></i>
      <div class="header">
        그룹 정보 수정
      </div>
      <div class="content">
        <div class="ui form">
          <div class="field">
            <label>그룹명</label>
            <input ng-model="editGroupForm.name" type="text">
          </div>
          <div class="field">
            <label>설명</label>
            <input ng-model="editGroupForm.description" type="text">
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="ui black cancel button">
          Cancel
        </div>
        <div class="ui green right labeled icon button" ng-click="editGroup()">
          Edit
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>
    <ui-view></ui-view>
  </div>
</div>