<div class="main-content">
  <div class="timeline-top-menu" ng-show="$state.includes('app.group')">
    <div class="ui mini black buttons">
      <a class="ui button" ng-class="{active:$state.is('app.group.timeline')}" ui-sref=".timeline({community_id:$state.params.community_id})">TIMELINE</a>
      <a class="ui button" ng-class="{active:$state.is('app.group.item')}" ui-sref=".item({community_id:$state.params.community_id})">ITEMS</a>
      <a class="ui button" ng-class="{active:$state.is('app.group.report')}" ui-sref=".report({community_id:$state.params.community_id})">REPORT</a>
      <a class="ui button" ng-class="{active:$state.is('app.group.calendar')}" ui-sref=".calendar({community_id:$state.params.community_id})">CALENDAR</a>
    </div>

    <div class="ui right floated icon mini black buttons">
      <a class="ui button" ng-class="{active:$state.is('app.group.member')}" ui-sref=".member({community_id:$state.params.community_id})">
        <i class="users icon"></i>
      </a>
      <a class="ui button" ng-class="{active:$state.is('app.group.setting')}" ui-sref=".setting({community_id:$state.params.community_id})">
        <i class="setting icon"></i>
      </a>
    </div>
  </div>

  <ui-view class="timeline-detail"></ui-view>
</div>