<div class="main-content">
  <h3>사용자 정보</h3>
  <form name="userForm" ng-submit="userFormSubmit()" novalidate>
    <div class="ui two column middle aligned grid basic form segment">
      <div class="column">
        <div class="field" ng-class="{ error: (userForm.submitted || userForm.username.$dirty) && userForm.username.$invalid }">
          <label>닉네임</label>
          <input type="text" name="username" ng-model="user.username" required>
          <div class="ui red pointing above ui label" ng-show="(userForm.submitted || userForm.username.$dirty) && userForm.username.$invalid">
            사용할 닉네임을 입력해주세요.
          </div>
        </div>
        <div class="field" ng-class="{ error: (userForm.submitted || userForm.current_password.$dirty) && userForm.current_password.$invalid }" ng-hide="currentUser.provider">
          <label>패스워드</label>
          <input type="password" name="current_password" ng-model="user.current_password" required>
          <div class="ui red pointing above ui label" ng-show="(userForm.submitted || userForm.current_password.$dirty) && userForm.current_password.$invalid">
            암호를 입력해주세요.
          </div>
        </div>
      </div>

      <div class="ui vertical divider hide-for-small">
        <i class="circle icon"></i>
      </div>

      <div class="column">
        <div style="text-align:center">
          <div class="avatar-layer">
            <img ng-src="{{ currentUser.avatar_url.medium }}" class="avatar" />
          </div>
          <a id="addAvatarBtn" class="ui black button" avatar-upload>
            <span class="ladda-label">사용자 이미지 등록</span>
          </a>
        </div>
      </div>

      <input type="submit" class="ui blue submit button" value="수정" />
    </div>
  </form>
  <div style="clear:both"></div>
</div>

