<div class="sidemenu" ng-controller="AppTimelineMenuCtrl">
  <div class="ui vertical inverted text menu">
    <a class="item" ng-class="{active:$location.path() == '/app'}" href="/app">
      <i class="home icon"></i> My Money
    </a>
  </div>
  <div class="ui horizontal inverted divider">
    <i class="users icon"></i>
  </div>
  <div class="ui vertical inverted text menu">
    <a class="item" ng-class="{active:community.id == $stateParams.community_id}" ui-sref="timeline({community_id:community.id})" ng-repeat="community in communities">
      <i class="gittip icon"></i>
      {{ community.name }}
    </a>
  </div>
  <a class="ui fluid red small button">Create Group</a>
</div>

<div class="main-content">
  <div class="ui right floated icon buttons" ng-show="$stateParams.community_id">
    <a class="ui button" ng-href="/app/communities/{{ $stateParams.community_id }}/members">
      <i class="users icon"></i>
    </a>
    <a class="ui button" ng-href="/app/communities/{{ $stateParams.community_id }}/setting">
      <i class="setting icon"></i>
    </a>
  </div>

  <p>This is the app/timeline view.</p>
  <p>community id - {{ $stateParams.community_id }} </p>
</div>
