<div class="sidemenu" ng-controller="AppTimelineMenuCtrl">
  <div class="ui vertical inverted text menu">
    <a class="item" ng-class="{active:$state.includes('my')}" ui-sref="my.timeline">
      <i class="home icon"></i> My Money
    </a>
  </div>
  <div class="ui horizontal inverted divider">
    <i class="users icon"></i>
  </div>
  <div class="ui vertical inverted text menu">
    <a class="item" ng-class="{active:community.id == $state.params.community_id}" ui-sref="community.timeline({community_id:community.id})" ng-repeat="community in communities">
      <i class="gittip icon"></i>
      {{ community.name }}
    </a>
  </div>
  <a class="ui fluid red small button">Create Group</a>
</div>

<div class="main-content">
  <div class="ui right floated icon buttons" ng-show="$state.includes('community')">
    <a class="ui button" ng-class="{active:$state.is('community.member')}" ui-sref="community.member({community_id:$state.params.community_id})">
      <i class="users icon"></i>
    </a>
    <a class="ui button" ng-class="{active:$state.is('community.setting')}" ui-sref="community.setting({community_id:$state.params.community_id})">
      <i class="setting icon"></i>
    </a>
  </div>

  <ui-view></ui-view>
</div>
