<div class="row">
  <div class="form-wrapper small-11 large-5 small-centered">
    <form>
      <label>Email</label>
      <input type="text" ng-model="username">
      <label>Password</label>
      <input type="password" ng-model="password">
      <a id="email_login_btn" class="fluid ui big red button ladda-button" data-style="slide-down" ng-click="loginWithEmail()">
        Login
      </a>
    </form>

    <div class="ui horizontal divider">
      Or
    </div>

    <a id="facebook_btn" class="fluid ui big facebook button ladda-button" data-style="slide-down" ng-click="loginWithFacebook()">
      <i class="facebook icon"></i>
      Facebook
    </a>
  </div>
</div>
